WC_BASE_URL=https://tooliano.com
WC_CONSUMER_KEY=ck_your_key_here
WC_CONSUMER_SECRET=cs_your_secret_here

NEXT_PUBLIC_SITE_NAME=Tooliano
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_CURRENCY=EGP
NEXT_PUBLIC_CURRENCY_LOCALE=ar-EG

JWT_SECRET=generate-a-long-random-string
